#cont-header{ 
    display: none;
    background: #313533;
    height: 50px;
    padding: 4%;
    color: #ffffff;
    font-size: 11px;
}
h3{
    float: right;
    margin: 1%;
}
.imgUser{
    float: right;
}
body{
    background-image: url("../Images/woman_tech.jpg") ; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    margin: 0;
    padding: 0; 
    font-family: "varela round";

 }
 #welcome-page{
    width: 360px;
    border-radius: 3px;
    margin: 200px auto;
 }
 #welcome-page h1{
     max-width: 960px;
     color: #FFE50E;
     top: 200;
     left: 70;
     font-size: 45px;
     margin: 15px;
 }
 #button-home{
    border: none;
    padding: 15px 81px;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
    background: #FFE50E;
 }
 #login-text{
    padding: 10px 30px;
 }
 #login-password{
    padding: 10px 30px;
 }
 #cohorts-page{
    display: none;
    margin: 3%;
}
#search{
    float: right;
}
#cohorts-page h2{
    font-size: 25px;
}
#student-table{
    margin: 4%;
}


