header{ 
    display: flex;
    background: #313533;
    height: 50px;
    padding: 40px;
}
body{
    background-color: #c4c5c6;
    /* background: url(../images/woman_tech.jpg);
    background-size: cover;
    background-repeat: no-repeat; */  
}
#start{
    padding: 100px;
    margin: 100px;
    
}
#start button{
    padding: 15px 32px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: transparent;
    text-align: center;
    border: 1px solid #ffc107;
    color: #ffc107;
  
}
#studentPage{
    font-family: "varela round";
    font-size: 12px;
    padding-left: 30px;
    display: none;
}
#filSede{
    float: left;
    font-family: "varela round";
    font-size: 12px;
    padding: 80px;
    display: none;
}
#filGeneration{
    float: left;
    font-family: "varela round";
    font-size: 12px;
    padding: 80px;
    display: none;
}
#filAlphabet{
    float: left;
    font-family: "varela round";
    font-size: 12px;
    padding: 80px;
    display: none;
}
/*
#969FAA;
